.body{
    background-color: blue;
    min-height: 800px;
    overflow:hidden;
    padding:40px;
}
.left{
    float:left;
    min-height: 700px;
    width:80%;
}
.webcam{
    min-height:600px;
    background-color: yellow;
}
.ppl{
    background-color: violet;
    min-height: 200px;
}
.right{
    float:right;
    background-color: red;
    width:20%;
    min-height:800px;
}
.ppl{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.p1{
    background-color: pink;
    min-height: 200px;
}
.p2{
    background-color: orange;
    min-height: 200px;
}